/* Scrollbar Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: #666 #121212;
  }
  
  /* Scrollbar Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: #121212;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
    border: 3px solid #666;
  }


  body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:2vh;
    color:#fff;
    scroll-behavior: smooth;
    background-color: #121212;
  }

  
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
li {
    float: left;
  }
  
li.right {
    float: right;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111;
  }
  
.active {
    background-color: #666;
  }

h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    line-height: 1em;
}

h2{
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
    line-height: 1em;
}

h3{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    line-height: 1em;
}

.construction-worker{
    padding-left: 50vw;
    transform: translateX(-10%);
    width: 200px;
}

@media screen and (max-width: 650px) {
  ul {
    font-size:min(3.5vw, 16px);
  }
}