/* Scrollbar Firefox-only */
   * {
    scrollbar-width: thin;
    scrollbar-color: #666 #121212;
  }
  
  /* Scrollbar Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: #121212;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
    border: 3px solid #666;
  }

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:2vh;
  color:#666;
  scroll-behavior: smooth;
}

.bgheader, .bgportfolio, .bgabout, .bgskills, .bgcontact{
  position:relative;
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
}

.bgheader{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('../img/code_bg-min.jpg');
  height: 100vh;
  background-repeat:no-repeat;
}

.user-box
{
  top: 20vh;
  left: 49vw;
  transform: translate(-50%,0%);
  position: absolute;
  text-align: center;
}
.user-box img
{
  border-radius: 50%;
  width: 40vh;
  border: 2px solid #fff;
  max-width: 500px;
}
.user-box h1
{
  color: #fff;
  font-weight: bold;
  font-size: min(4vh, 50px);
}
.user-box p
{
  color: #fff;
  font-size: min(3vh, 38px);
  
}

.arrow
{
  width: 1vh;
  height: 5vh;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 80vh;
  left: 49vw;
  animation: movearrow 1s infinite alternate;
}

.arrow:after
{
  content: "";
  display: inline-block;
  width: 1vh;
  height: 2vh;
  border-radius: 4px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 0.8vh;
  top: 2.85vh;
}

.arrow:before
{
  content: "";
  display: inline-block;
  width: 1vh;
  height: 2vh;
  border-radius: 4px;
  background-color: #fff;
  transform: rotate(-45deg);
  position: absolute;
  left: -0.78vh;
  top: 2.85vh;
}

@keyframes movearrow
{
  0%{transform: translateY(0);}
  100%{transform: translateY(3vh);}
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;
}

li {
  float: left;
}

li.right {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #666;
}

.bgportfolio{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('../img/analytics-min.jpg');
  min-height:400px;
}

.bgabout{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('../img/about-min.jpg');
  min-height:400px;
}

.bgskills{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('../img/grosse-maths-min.jpg');
  min-height:400px;
}

.bgcontact{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('../img/customer-min.jpg');
  min-height:800px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
  
}

.sectiontext{
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:max(40%, 250px);
  text-align:center;
  background-color:#121212;
  color:#fff;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
  padding:20px;
}


.main-container{
	width: 80vw;
  margin: 0 auto;
  line-height: 2em;
}

.main-container h3{
  font-size:28px;
  margin: 5vh;
  
}

.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post{
	border:1px solid #000;
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail{
	display: block;
	width: 100%;
	height:180px;
	object-fit: cover;
}

.post-preview{
	background-color: #A9A9A9;
	padding:15px;
}

.post-preview a{
  text-decoration: none;
  color: #666;
}

.post-title{
	color:#000;
  margin: 0;
  font-size: 24px;
  line-height: 1em;
}

.post-intro{
	color: #121212;
  font-size: 20px;
  text-align: left;
}

.aboutsection{
	display: grid;
	grid-template-columns: repeat(auto-fit, 400px);
	gap:100px;
	justify-content: center;
  padding-bottom: 50px;
  width: 80vw;
	margin: 0 auto;
}

.aboutpicture{
  width: 100%;
  height:580px;
  object-fit: cover;
  border:3px solid #000;
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.section h2{
  margin: 5vh;
  font-size: 28px;
  line-height: 1em;
}

.abouttext{
  font-size: max(1.5vw, 20px);
  line-height: 50px;
  text-align: left;
  padding-top: 0;
  width: 20vw;
}

.skills-zoom{
  transition: 0.7s;
}

.skills-container{
	width: 80vw;
  margin: 0 auto;
  position: relative;
}

.skills-container h3{
  font-size:28px;
  padding-bottom: 5vh;
  line-height: 1em;
}

.skills-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, max(25vw, 360px));
	gap:40px;
	justify-content: center;
	padding-bottom: 50px;
}

.skills-section{
	border:1px solid #000;
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.card1{
	display: block;
	width: 100%;
  height:90px;
  background-color: #4aada9;
  font-size: 32px;
  padding-top: 80px;
  font-weight: bold;
  color: #fff;
}

.card2{
	display: block;
	width: 100%;
  height:90px;
  background-color: #6eadd4;
  font-size: 32px;
  padding-top: 80px;
  font-weight: bold;
  color: #fff;
}

.card3{
	display: block;
	width: 100%;
  height:90px;
  background-color: #e07768;
  font-size: 32px;
  padding-top: 80px;
  font-weight: bold;
  color: #fff;
}

.skills-card{
	background-color: #fff;
	padding:15px;
}

.skills-list{
	color:#121212;
  margin: 0;
  font-size: 24px;
  line-height: 1em;
  text-align: left;
  display: inline-block;
}

.skills-list li{
  width: max(18vw, 250px);
  padding:15px;
  
}

.skills-zoom:hover{
  transform: scale(1.1);
}


.container{
  text-align: center;
  color: #fff;
  padding-top: 100px;
}

.container h1{
  margin: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 50px;
}

.text-center{
  margin: 0;
  padding-top: 50px;
  padding-bottom: 70px;
  font-size: 28px;
  line-height: 1.5em;
}

.row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 30px; /*Optional*/
}
.col-contact {
  display: table-cell;
  padding-top: 50px;
}

.col-contact a{
  text-decoration: none;
  font-size: 100px;
  color: #fff;
}

.col-contact a:visited{
  color: #fff;
}

.text-center a{
  color: #fff;
}

.text-center a:visited{
  color: #fff;
}

.container .resume{
  padding: 10px 25px 10px 25px;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.container .resume:focus{
  box-shadow: none !important;
}

.container .resume:hover{
  border:2px solid #000 !important;
  background: #000 !important;
  transition: 0.6s;
}

.container .resume .fa{
  margin-right: 10px;
}







.supportpage{
  background-color:#282e34;
  overflow: hidden;
}

.support-header{
  text-align: center;
  line-height: 2.5em;
}

.support-header h1{
  font-size: 50px;
  color: #fff;
}

.support-header h3{
  font-size: max(2vw, 20px);
  width: max(60vw, 300px);
  transform: translateX(20vw);
  color: #D3D3D3;
}

.supportpage hr{
  margin-top: 100px;
  width: 30vw;
  margin-left: -5px;
  border:3px solid white;
  border-radius: 5px;
}

.support-goodfood h2{
  padding-top: 10px;
  font-size: max(40px);
  color: #fff;
  padding-left: 30px;
}

.support-goodfood h3{
  color: #D3D3D3;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 1.5em;
  width: 90vw;
}

.support-goodfood h3 a{
  color: #D3D3D3;
}

.support-goodfood h3 a:visited{
  color: #D3D3D3;
}

.goodfood-logo{
  margin-left: 50%;
  transform: translateX(-285px);
  margin-top: 50px;
  margin-bottom: 50px;
}

.where-goodfood{
  width: 100%;
}

.support-goodfood a{
font-size: 0;
}

.collapsible {
  display: block;
  width: 100%;
  background-color: #777;
  color: #fff;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  font-size: 25px;
}

.collapsible input {
  position: absolute;
  left: -9999px;
}
.collapsible input:focus ~ .collapser {
  border-color: black;
}
.collapsible .symbol {
  padding: 20px;

  display: inline-block;
  transform: rotate(90deg);
  transition: transform 0.25s ease-out;
}
.collapsible input:checked ~ .symbol,
.collapsible input:checked ~ .collapser .symbol {
  transform: rotate(270deg);
}
.collapsible .collapsed {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
}
.collapsible input:checked ~ .collapsed {
  font-size: 20px;
  opacity: 1;
  height: auto;
  padding: 5px 20vw;
  line-height: 1.2em;
  width: 60vw;
  text-align:justify;
  overflow-wrap: break-word;
  /* grow, then fade in */
  transition: margin 0.25s, padding 0.25s, font-size 0.25s, opacity 0.5s 0.25s;
}





.support-digitalocean h2{
  padding-top: 10px;
  font-size: max(40px);
  color: #fff;
  padding-left: 30px;
}

.support-digitalocean h3{
  color: #D3D3D3;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 1.5em;
  width: 90vw;
}

.support-digitalocean h3 a{
  color: #D3D3D3;
}

.support-digitalocean h3 a:visited{
  color: #D3D3D3;
}

.digitalocean-logo{
  margin-left: 50%;
  transform: translateX(-200px);
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
}

.support-digitalocean a{
  font-size: 0;
}





.support-vultr h2{
  padding-top: 10px;
  font-size: max(40px);
  color: #fff;
  padding-left: 30px;
}

.support-vultr h3{
  color: #D3D3D3;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 1.5em;
  width: 90vw;
}

.support-vultr h3 a{
  color: #D3D3D3;
}

.support-vultr h3 a:visited{
  color: #D3D3D3;
}

.vultr-banner{
  margin-left: 50%;
  transform: translateX(-400px);
  margin-top: 50px;
  margin-bottom: 50px;
}

.support-vultr a{
font-size: 0;
}




.support-epik h2{
  padding-top: 10px;
  font-size: max(40px);
  color: #fff;
  padding-left: 30px;
}

.support-epik h3{
  color: #D3D3D3;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 1.5em;
  width: 90vw;
}

.support-epik h3 a{
  color: #D3D3D3;
}

.support-epik h3 a:visited{
  color: #D3D3D3;
}

.epik-logo{
  margin-left: 50%;
  transform: translateX(-200px);
  margin-top: 50px;
  margin-bottom: 50px;
}

.support-epik a{
font-size: 0;
}




.support-hardware h2{
  padding-top: 10px;
  font-size: max(40px);
  color: #fff;
  padding-left: 30px;
  line-height: 1em;
}

.support-hardware h3{
  color: #D3D3D3;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 1.5em;
  width: 90vw;
}

.support-hardware h3 a{
  color: #D3D3D3;
}

.support-hardware h3 a:visited{
  color: #D3D3D3;
}

.r710-image{
  margin-left: 50%;
  transform: translateX(-200px);
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
}

.support-hardware a{
font-size: 0;
}




.support-onlyfans h2{
  padding-top: 10px;
  font-size: max(40px);
  color: #fff;
  padding-left: 30px;
  line-height: 1em;
}

.support-onlyfans h3{
  color: #D3D3D3;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 1.5em;
  width: 90vw;
}

.support-onlyfans h3 a{
  color: #D3D3D3;
}

.support-onlyfans h3 a:visited{
  color: #D3D3D3;
}

.onlyfans-logo{
  margin-left: 50%;
  transform: translateX(-200px);
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
}

.support-onlyfans a{
font-size: 0;
}






@media(max-width:568px){
  .bgheader, .bgportfolio, .bgabout, .bgskills, .bgcontact{
    background-attachment:scroll;
  }

  .collapsible{
    padding-left: 0;
    padding-right: 0;
    font-size: 22px;
  }
  .collapsible input:checked ~ .collapsed{
    width: 90vw;
    padding: 5px 10px;
    text-align: left;
  }
}

@media(max-width:1250px){
  .sectiontext{
    line-height:4vh;
  }
  .goodfood-logo{
    width: 320px;
    transform: translateX(-160px);
  }
}

@media screen and (max-width: 650px) {
  ul {
    font-size:min(3.5vw, 16px);
  }
}

@media screen and (max-width: 1200px){
	.main-container{
    width: 95%;
	}
}

@media screen and (max-width: 1124px) {
  .abouttext{
    margin-top: 0px;
    text-align: center;
    width: auto;
  }

}

@media screen and (max-width: 1210px) {
  .abouttext{
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .skills-wrapper{
    transform: translateX(-5%);
  }
  .skills-container h3{
    transform: translateX(-5%);
  }
  .aboutsection{
    transform: translateX(-5%);
  }
  .col-contact a{
    text-decoration: none;
    font-size: 50px;
    color: #fff;
  }
}

@media screen and (max-width: 450px) {

  .skills-container h3{
    transform: translateX(-10%);
  }
  
  .aboutsection{
    transform: translateX(-13%);
  }

  .aboutsection{
    grid-template-columns: repeat(auto-fit, 100px);
  }
  .skills-container{
    width: 50vw;
  }

  .support-header h3{
    width: 100%;
    transform: translateX(0);
  }

  .support-goodfood h2{
    padding-left: 0px;
  }

  .support-goodfood h3{
    padding-left: 0px;
  }

  .support-digitalocean h2{
    padding-left: 0px;
  }

  .support-digitalocean h3{
    padding-left: 0px;
  }

  .digitalocean-logo{
    width: 320px;
    transform: translateX(-160px);
  }

  .support-vultr h2{
    padding-left: 0px;
  }

  .support-vultr h3{
    padding-left: 0px;
  }

  .support-epik h2{
    padding-left: 0px;
  }

  .support-epik h3{
    padding-left: 0px;
  }

  .epik-logo{
    width: 320px;
    transform: translateX(-160px);
  }

  .support-hardware h2{
    padding-left: 0px;
  }

  .support-hardware h3{
    padding-left: 0px;
  }

  .r710-image{
    width: 320px;
    transform: translateX(-160px);
  }

  .support-onlyfans h2{
    padding-left: 0px;
  }

  .support-onlyfans h3{
    padding-left: 0px;
  }

  .onlyfans-logo{
    width: 320px;
    transform: translateX(-160px);
  }
  
  
}

@media screen and (max-width: 350px) {

  .skills-container h3{
    transform: translateX(0);
  }
  .aboutsection{
    display:block;
    align-content: center;
    width:80vw;
    transform: translateX(-20%);
  }


  .abouttext{
    font-size: max(1.5vw, 20px);
    line-height: 50px;
    text-align: center;
    padding-top: 0;
    width: 80vw;
  }

  .skills-container{
    width: 50vw;
  }

  .skills-wrapper{
    transform: translateX(-20%);
    display: block;
    width: 80vw;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  .skills-list{
    color:#121212;
    margin: 0;
    font-size: 18px;
    line-height: 1em;
    text-align: left;
    display: inline-block;
  }

  .skills-list li{
    width: 80%;
    padding:15px;
    
  }
  
}

@media screen and (max-width: 800px) {

  .aboutsection{
    grid-template-columns: repeat(auto-fit, 300px);
  }
  .aboutpicture{
    width: 100%;
    height:430px;
    object-fit: cover;

  }
  .vultr-banner{
    width: 320px;
    transform: translateX(-160px);
  }
}

@media screen and (max-width: 550px) {
  .text-center{
    font-size: 15px;
    line-height: 1.5em;
  }
}